@model DIYAccount.Controllers.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>登入系統</h2>

@using (Html.BeginForm("Login", "Home", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Account)
    @Html.ValidationMessageFor(m=>m.Account)

    <br/>

    @Html.TextBoxFor(m=>m.Password)
    @Html.ValidationMessageFor(m=>m.Password)

    <input type="submit" value="登入"/>
}